<%- include('header.ejs'); %>

<div class="container">

    <p>Hello, <b>Admin</b>!</p>
    <p>
        <a href="/admin/logout" class="btn btn-xs btn-danger">
            <i class="fas fa-sign-out-alt"></i> Exit
        </a>
    </p>

</div>

<%- include('footer.ejs'); %>
