<html lang="ru">
<head>
	<title>CarKeeper</title>
</head>
<body style="color:#fff;background:#a94545 url('https://cdn.carkeeper.pro/img/bg.png') repeat left top;background-size:250px;">
<div style="padding:20px 50px 10px 50px;">
	<img src="https://cdn.carkeeper.pro/img/logo-white.png" height="50" alt="CarKeeper">
</div>
<div style="background:#fff;margin:10px 50px;padding:20px;font-size:14px;color:#000;">
	{% block content %}{% endblock %}
	<p style="color:#666">
		--<br>Всегда с Вами,<br>команда CarKeeper<br>
		<a href="https://carkeeper.pro" style="color:#a94545">https://carkeeper.pro</a><br>
		<a href="mailto:support@carkeeper.pro" style="color:#a94545">support@carkeeper.pro</a>
	</p>
</div>
<div style="color:#fff;padding:10px 50px 20px 50px;">
	CarKeeper &copy; 2018 &mdash; Твой карманный помощник
</div>
</body>
</html>
