@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.eot');
  src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Thin.woff') format('woff'),
  url('../fonts/Roboto-Thin.ttf') format('truetype'),
  url('../fonts/Roboto-Thin.svg#webfont') format('svg');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/Roboto-Bold.svg#webfont') format('svg');
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #ffffff;
  overflow-x: hidden;
}



label {
  margin: 0;
  max-width: 100%;
}
button {
  cursor: pointer;
  outline: none !important;
}
input {
  outline: none !important;
}
div {
  user-select: none;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  background: url("../img/bg.jpg") no-repeat 0 center / cover;
  background-attachment: fixed;
}


.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.row  {
  max-width: 100vw;
  padding: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.logo {
  margin-top: 20px;
  text-align: center;
}
.logo img {
  max-width: 100%;
}
.logo-title {
  text-align: center;
  margin-top: 15px;
}
.promo-wrap {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.promo-title {
  padding: 0 15px;
  line-height: 30px;
  margin: 45px 0 15px;
  font-size: 30px;
}
.middle_text {
  padding-top: 50px;
}
.middle_text > div {
  line-height: 35px;
  font-size: 30px;
  font-family: 'Roboto-Bold';
  padding-left: 25px;
  margin-bottom: 15px;
  background: url("../img/elips.png") no-repeat 0 10px / 15px ;
}
.middle_text-1 {
  color: #fe0000;
  text-decoration: underline;
}
.middle_text-1 a {
  color: #fe0000;
}
.middle_text-1 a:hover {
  opacity: 0.8;
}
.appStore, .phones, .playMarket {
  text-align: center;
}
.appStore img, .playMarket img {
  width: 400px;
  max-width: 100% ;
}
.appStore {
  padding-bottom: 55px;
  padding-top: 15px;
}
.phones {
  padding-top: 30px;
}
.playMarket {
  padding: 15px 0;
}
.phones img {
    max-width: 100%;
  }
